:host {
  display: block;
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}

mat-paginator { /* Where User Selects How Many Posts Per Page Etc */
  margin-top: 1rem;
}

.info-text { /* 'No Posts Added' */
  text-align: center;
}

.post-image { /* Image Within Post */
  width: 100%;
}

.post-image img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
